<!-- <md-progress-circular class="loadingIcon" md-mode="indeterminate" ng-show="isLoading" md-diameter="300"></md-progress-circular> -->
<body layout="column" ng-cloak>
    <!-- main content -->
    <md-content id="content" flex layout="column">
      <div layout="row" class="dialogdemoOpenFromCloseTo" flex>
        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
          <!-- <span id="left">left</span> -->
        </div>

        <div layout="column" layout-align="center start" layout-padding="" id="exercise" flex>
          <div style="display: block; text-align: right; width: 100%">
            Topic: {{currentTopic}} ({{currentTopicIndex}} / {{topicsLength}}) | Current question: {{currentQuestionIndex}} out of {{questions.length}}
          </div>
          <md-progress-linear md-mode="determinate" value="{{currentTopicIndex * 10}}"></md-progress-linear>
          {{currentQuestionIndex + 1}}. {{currentQuestion.question}}
          <br>

          <form ng-submit="submit()" ng-cloak>
            <md-radio-group ng-model="userAnswer" ng-hide="currentQuestion.options.length === 0">
              <md-radio-button value="0" class="md-primary"> {{ currentQuestion.options[0] }} </md-radio-button>
              <md-radio-button value="1" class="md-primary"> {{ currentQuestion.options[1] }} </md-radio-button>
              <md-radio-button value="2" class="md-primary"> {{ currentQuestion.options[2] }}</md-radio-button>
              <md-radio-button value="3" class="md-primary"> {{ currentQuestion.options[3] }}</md-radio-button>
            </md-radio-group>
            <p>Your answer: <span class="radioValue"> {{ userAnswer }}</span> </p>
          </form>

            <!-- canvas for non-mcq questions -->
          <div ng-show="currentQuestion.options.length === 0">
            <canvas width="500" height="120" id="canvas" drawing></canvas>
            <br>
            Answer: <input type="text" ng-model="userAnswer">
            <br>
          </div>
          <div class="dialog-demo-content" layout="row" style="width:100%">
            <md-button class="md-primary md-raised edgePadding" ng-click="submitAnswer()">
              Submit answer
            </md-button>
          </div>
        </div>

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
          <!-- <span id="right">right</span> -->
        </div>
      </div>


    </md-content>
  </div>
</body>
