<!-- <md-progress-circular class="loadingIcon" md-mode="indeterminate" ng-show="isLoading" md-diameter="300"></md-progress-circular> -->
<body layout="column" ng-cloak>
    <!-- main content -->
    <div layout="row">
      <md-button class="menu" hide-gt-sm ng-click="toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <md-icon md-svg-src="svg/avatar-1.svg" class="avatar" style="height:100px; width: 100px"></md-icon>
      <h1 id="roadmapUsername"></h1>
    </div>
    <md-progress-linear md-mode="determinate" value="{{completedTopicsIndex/topicsLength * 100}}"></md-progress-linear>

    <div class="container" layout="row" flex>
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left" id="sidenav">
          <md-list-item ng-repeat='topic in topics'>
              <md-button ng-click="chooseTopic($index)">
                <h3 style="text-align: center; margin: 0px">{{topic}}</h2>
              </md-button>
          </md-list-item>
      </md-sidenav>


    <md-content id="content" flex layout="column">
      <div layout="row" class="dialogdemoOpenFromCloseTo" flex>
        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
          <!-- <span id="left">left</span> -->
        </div>

        <div layout="column" layout-align="center start" layout-padding="" id="exercise" flex>
          <div style="display: block; text-align: left; width: 100%">
            Current topic: {{currentTopic}} ({{currentTopicIndex}} / {{topicsLength}}) <br> Current question: {{currentQuestionIndex}} out of {{questions.length}}
          </div>
          <md-progress-linear class="md-accent" md-mode="determinate" value="{{currentQuestionIndex/questions.length * 100}}"></md-progress-linear>
          {{currentQuestionIndex + 1}}. {{currentQuestion.question}}
          <br>

          <form ng-submit="submit()" ng-cloak>
            <md-radio-group ng-model="userAnswer" ng-hide="currentQuestion.options.length === 0">
              <md-radio-button value="0" class="md-primary"> {{ currentQuestion.options[0] }} </md-radio-button>
              <md-radio-button value="1" class="md-primary"> {{ currentQuestion.options[1] }} </md-radio-button>
              <md-radio-button value="2" class="md-primary"> {{ currentQuestion.options[2] }}</md-radio-button>
              <md-radio-button value="3" class="md-primary"> {{ currentQuestion.options[3] }}</md-radio-button>
            </md-radio-group>
            <p>Your answer: <span class="radioValue"> {{ userAnswer }}</span> </p>
          </form>

            <!-- canvas for non-mcq questions -->
          <div ng-show="currentQuestion.options.length === 0">
            <canvas width="500" height="120" id="canvas" drawing></canvas>
            <br>
            Answer: <input type="text" ng-model="userAnswer">
            <br>
          </div>
          <div class="dialog-demo-content" layout="row" style="width:100%">
            <md-button class="md-primary md-raised edgePadding" ng-click="submitAnswer()">
              Submit answer
            </md-button>
          </div>
        </div>

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
          <!-- <span id="right">right</span> -->
        </div>
      </div>


    </md-content>
  </div>
</body>
