<p>This is the partial for the roadmap:</p>

<div layout="row">
  <md-icon md-svg-src="svg/avatar-1.svg" class="avatar"></md-icon>
  <h1>Welcome {{ninjaName}}</h1>
</div>

<div class="container" layout="column" flex>
    <md-list ng-repeat='topic in topics'>
      <md-list-item>
        <a href="#!/exercise-one" style="color: black">
          <md-button>
            {{topic}}
          </md-button>
        </a>
      </md-list-item>
    </md-list>
<ul>

  <div class="dialog-demo-content" layout="row" layout-align="center center" style="width:100%">
    <!-- temp -->
    <md-button class="md-primary md-raised edgePadding" ng-click="showLocalStorage()">
      show local storage
    </md-button>
  </div>
